/* Y-Monaco remote user selection and cursor styles */
.yRemoteSelection {
    background-color: rgba(255, 255, 255, 0.1);
    position: relative;
}

.yRemoteSelectionHead {
    position: absolute;
    z-index: 10001;
    pointer-events: auto;
    width: 2rem;
    height: 100%;
}

.yRemoteSelectionHead::after {
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 1000;
    animation: cursor-blink 1s infinite;
}

.yRemoteSelectionHead::before {
    pointer-events:all;
    content: '';
    position: absolute;
    top: -22px;
    left: 0;
    background-color: gray;
    color: black;
    padding: 0px 4px;
    font-size: 11px;
    font-weight: 500;
    white-space: nowrap;
    pointer-events: none;
    z-index: 10002;
    font-family: monospace;
    opacity: 0.0;
    /*animation: label-fade-out 1s ease-in-out forwards;*/
}

.yRemoteSelectionHead:hover::before {
    opacity: 1 !important;
    animation: none;
}

@keyframes cursor-blink {
    0%, 50% { opacity: 1; }
    51%, 100% { opacity: 0.0; }
}

@keyframes label-fade-out {
    0% { opacity: 1; }
    70% { opacity: 1; }
    100% { opacity: 0; }
}